<html>
    <head>
        <title>Sign Up Form</title>
    </head>
    <body>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>Submit</button>
        </form>
    </body>
</html>